@charset "utf-8";
/* CSS Document */

#MainContent {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	border: 1px solid #099;
	padding: 3px;
	height: 700px;
	background-image: url(images/background-car.jpg);
	background-repeat: no-repeat;
	background-position: center 150px;
}
body {
	background-color: #FFF;
	height: 100%;

}
#icon {
	position:absolute;
	width:146px;
	height:259px;
	z-index:1;
	top: 135px;
	right: -40px;
	float: right;
}
#contentWrapper {
	background-repeat: repeat-x;
	background-position: top;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding-left: 50px;
	text-align: center;
}
#Content {
	text-align: center;
	padding-top: 250px;
	padding-bottom: 40px;
}

#Text {
	width: 550px;
	margin-right: auto;
	margin-left: auto;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	color: #333;
	text-align: left;
	top: 400px;
}

#content a {
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #006cb8;
}
#content a:hover {
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #F90;
}


#button-table {
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
}
